<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Graph UI</title>
  <base href="~/" />

  <link rel="stylesheet" href="~/dist/vendor.css" />
  <environment exclude="Development">
    <link rel="stylesheet" href="~/dist/site.css" />
  </environment>
</head>
<body>
  <div class="ms-Fabric">
    <nav id="react-banner" style="height:100%"></nav>

    <div class='ms-Grid'>
      <div class='ms-Grid-row'>
        <div class='ms-Grid-col ms-sm3'>
         <div id='react-navmenu'></div>
        </div>
        <div class='ms-Grid-col ms-sm9'>
          @RenderBody()
        </div>
      </div>
    </div>
  </div>

  <script src="~/dist/vendor.js" asp-append-version="true"></script>
  <script src="~/dist/main.js" asp-append-version="true"></script>
    <script type="text/javascript">
      var userId =  "@ViewData["userId"]";
      var userName = "@ViewData["userName"]";
      var userEmail = "@ViewData["userEmail"]";
      var userPic = "@Html.Raw(ViewData["Picture"])";
      App.renderBanner(userName,userEmail,userPic);

      App.renderNavMenu();
    </script>

  @RenderSection("Scripts", required: false)
</body>
</html>
